.chatbody {
  width: 300px;
  border: solid 2px #ccc;
  font-size: 16px;
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.top {
  display: flex;
  padding: 0.5em 1em;
  align-items: center;
  background: #71c594;
  color: #fff;
}

.avatar {
  border: solid 2px #fff;
  border-radius: 100%;
  line-height: 0;
  padding: 0.3em;
  margin-right: 1em;
  background: #fff;
}

.chat_area {
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}
.chat_area::-webkit-scrollbar {
  display: none;
}

.chatter {
  display: flex;
  align-items: flex-end;
  margin: 1em 0;
}

.balloon {
  background: #ccc;
  border-radius: 10px;
  padding: 1em;
}

.chatter.customer {
  justify-content: flex-end;
}

.choice {
  padding: 0.5em;
  background: #dfe1f7;
  margin: 5px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}

.bottom {
  padding: 2px 1rem;
  border-top: 1px solid #e6e6e6;
}