.chatbody {
  width: 300px;
  border: solid 2px #ccc;
  font-size: 16px;
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #fff;
}

.top {
  display: flex;
  padding: 0.5em 1em;
  align-items: center;
  background: #71c594;
  color: #fff;
}

.avatar {
  border: solid 2px #fff;
  border-radius: 100%;
  line-height: 0;
  padding: 0.3em;
  margin-right: 1em;
  background: #fff;
}

.chat_area {
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  transition: 1s ease;
}

.chat_area::-webkit-scrollbar {
  display: none;
}

.chatter {
  display: flex;
  align-items: flex-end;
  margin: 1em 0;
}

.balloon {
  background: #ccc;
  border-radius: 10px;
  padding: 1em;
}

.chatter.customer {
  justify-content: flex-end;
}

.choice {
  padding: 0.5em;
  background: #dfe1f7;
  margin: 5px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}

.bottom {
  padding: 2px 1rem;
  border-top: 1px solid #e6e6e6;
  position: relative;
  z-index: 2;
  background: inherit;
}
.chat_loading {

}

.chat_loading>.balloon {
  width: 70px;
}


/*==========*/

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 4px;
  margin: 80px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  display: block;
  margin:0 auto;
  top: -8px;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
